.tooltip {
  padding: 4px 13px;
  position: relative;
  display: inline-block;
}
.tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: rgb(66, 66, 66);
  color: #fff;
  padding: 7px 9px;
  box-shadow: 6px 7px 16px 4px rgba(64, 64, 64, 0.33);
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.checkboxContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  flex-wrap: nowrap;
}
@media (min-width: 35em) {
  .checkboxContainer {
    flex-wrap: wrap;
  }
}
